{
    "extends": "airbnb-base",
    "plugins": [
      "import",
      "jest"
    ],
    "env": {
      "browser":false,
      "node": true,
      "jest": true
    },
    "rules": {
      "indent": [2, 2],
      "import/no-extraneous-dependencies": [2, {
        "devDependencies": true
      }]
    }
  }